button {
    margin: 1rem 0;
}

.demo {
    width: 100px;
    height: 100px;
    float: inline-block;
    background-color: gray;
    margin: 10px;
    cursor: pointer;
}
.red   { background-color: red;   }
.green { background-color: green; }
.blue  { background-color: blue;  }