<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS 2 | Conditionals &amp; Lists</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/vue.js"></script>
</head>

<body>

    <!-- ----------------------------- -->

    <div id="app" class="container">
        <p v-if="show">You can see me!</p>
        <p v-else>Now you see me!</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button class="btn btn-primary" @click="show = !show">Switch</button>
    </div>

    <!-- ----------------------------- -->

    <footer class="container border-bottom border-secondary my-3">
        <h4>VueJS: Conditionals &amp; Lists</h4>
        <p>Included the following:</p>
        <ul>
            <li>
                <strong>v-if-then-else</strong> statements</li>
            <li>
                <strong>template</strong> wrapper
                <p class="note">NOTE: the below template wrapper doesn't appear in the actual code, it's just a vue-code only grouping for several
                    elements, preventing you from having to wrap several elements in an enclosing element.</p>
            </li>
            <li>
                <strong>v-show</strong> statement
                <p class="note">Doesn't remove the element from the DOM, just forces a "display: none" css style on it.</p>
            </li>
    
        </ul>
    </footer>

    <!-- ----------------------------- -->

<script>
        const vm = new Vue({
            el: '#app',
            data: {
                show: true
            }
        });
    </script>

</body>

</html>