<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS 2 | Conditionals &amp; Lists</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/vue.js"></script>
</head>

<body>

    <!-- ----------------------------- -->

    <div id="app" class="container mt-5">

        <!-- Note: look up what v-bind:key does, it was explained 
        as storing the actual item instead of a slot, but wondering 
        how this actually affects the item itself -->
        <ul>
            <li v-for="(ingredient, idx) in ingredients" :key="ingredient">{{ ingredient }} - {{ idx }}</li>
        </ul>

        <button class="btn btn-primary" @click="ingredients.push('spices')">Add New</button>

        <hr>
        <h4>Looping through objects...</h4>

        <!-- Nest loops to loop through all key/values
        in an object -->
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ index}} - {{ key }}: {{ value }} </div>
            </li>
        </ul>

        <hr>
        <h4>Looping through numbers...</h4>

        <span v-for="n in 10">{{n}} </span>
        
        <hr>

        <template v-for="(ingredient, idx) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ idx }}</p>
        </template>
    </div>
        
    <!-- ----------------------------- -->

    <footer class="container border-top border-secondary my-5 pt-5">
        <h4>VueJS: Alt v-for syntax</h4>
        <p>Included the following:</p>
        <ul>
            <li><strong>v-if-then-else</strong> statements</li>    
        </ul>
    </footer>

    <!-- ----------------------------- -->

<script>

const vm = new Vue({
    el: '#app',
    data: {
        ingredients: ['meat', 'fruit', 'cookies'],
        persons: [
            {name: 'Max', age: 27, color: 'red'},
            {name: 'Anna', age: 'unknown', color: 'blue'}
        ]
    }
});

</script>

</body>
</html>